body {
  font-family: "Quicksand", sans-serif;
  /* font-family: "Raleway", sans-serif; */
  border: solid rgb(85, 0, 0) 0.5em;
  margin: 0%;
  padding: 1em;

}
#navbar {
  display: flex;
  flex-direction: row;
  color: rgb(85, 0, 0);
  margin: 1.5em;
  font-weight: bold;
  font-size: 1.5em;
}
#navbar a {
  padding-left: 2em;
}
#navbar a:link,
a:visited {
  color: rgb(85, 0, 0);
  text-decoration: none;
}
#navbar a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#cvheader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#photo img {
    max-width: 50%;
    object-fit: cover;
}
#cvheader h1 {
    font-size: 300%;
    color: darkgray;
    margin-top: 0%;
    line-height: 1.6em;
    
}
#wrapper {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 3em;
}
.grid-item {
  padding-right: 2em;
}
.infoitem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
  padding-top: 1.5em;
}
